
@media screen and (max-width: 700px) {
  header .container{
    display: flex;
    flex-direction: column;
  }

  .botao{
    margin-top: 5px;
    width: 190px;
  }

  main {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao{
    width: 50%;
  }
}

@media screen and (max-width: 8000px) {
  .filme-principal {
    background-size: 100% 100%;
  }
}